body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: #000000;
}

.negro {
  background: #000000;
}

.negro h1 {
  font-weight: 500;
  font-size: 3.5rem;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  padding: 0.5rem 0;
  margin: 0;
}

.grande {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.desc-section {
  text-align: left;
  background: #000000;
  color: #ffffff;
  white-space: nowrap;
  padding: 0.25rem 0.15rem;
}

.texto, .foto, .cafe {
  display: inline-block;
}

.texto {
  width: 37%;
  vertical-align: middle;
  margin-left: 10%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  white-space: normal;
}

.foto {
  width: 70%;
  margin: 0 auto;
}

.iguana-uno {
  width: 42%;
  vertical-align: middle;
  padding: 2rem 7rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

.icons-section {
  text-align: center;
  background: #1e1a13;
  color: #ffffff;
  margin: 0;
}

.tres {
  box-sizing: border-box;
  width: 26%;
  margin: 1%;
  display: inline-block;
}

.tres--icon {
  text-align: center;
  margin-bottom: 0;
}

.tres--icon a {
  width: 50%;
  margin: 0;

}

.tres--texto {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
 }

.icons-section a {
  color: #ffffff;
  text-decoration: none;
}

h4 {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-top: 1.2rem;
  text-align: center;
}

.imagenes {
  background: #000000;
  white-space: nowrap;
  padding: 3rem;
}

.cafe {
  width: 30%;
  padding: 0;
  vertical-align: middle;
  margin: 0;
}

.iguana2 {
  width: 80%;
  padding: 1rem 0.2rem 1rem 1rem;
  margin-left: 10%;
  border: 0;
}

.iguana3 {
  width: 80%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 1rem 0.2rem 1rem 0.2rem;
  margin: 0;
  border: 0;
}

.iguana4 {
  width: 80%;
  padding: 1rem 1rem 1rem 0.2rem;
  margin-right: 25%;
  margin-left: 1%;
  border: 0;
}

.footer {
  text-align: center;
  background: #1e1a13;
  color: #ffffff;
  margin: 0;
  padding: 1rem;
}
